.hero__overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
 }

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color:#C4C4C4;
   }

 .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36; 
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $color-brend;
        margin-bottom: 35px;
       }

       .button {
        display: inline-block;
        font-family: inherit; 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color:$color-brend;
       background-color: $color-accent; 
       cursor: pointer;
        padding: 6px 22px;
        border: none;
        border-radius: 4px;
      }
    

    .hero__button {
        display: inline-block;
        width: 216px;
        height: 50px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $color-brend;
        background-color: $color-accent;
        vertical-align: middle;
        border: none;
        border-radius: 4px;
   
    &:hover,
    &:focus {
        display: inline-block;
        color: $color-brend;
        background: #188CE8;
        border-radius: 4px;    
    }
    }