      
       .our-advantages {
        padding-top: 94px;
        padding-bottom: 94px;
        align-items: center;
          @media screen and (max-width: 767px) {
            padding: 60px 0px 50px;
          }
          @media screen and (max-width: 1199px) {
             padding: 60px 0px 60px;
          }
    }

       .our-advantages__title--visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
      
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
       }

       .our-advantages__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        border:1px solid #EEEEEE;
        border-width: 0px 1px 1px 1px;
        background-color:#F5F4FA;
            @media screen and (min-width: 768px) {
                  width: 354px;
         }

        @media screen and (min-width: 1200px) {
          width: 270px;
        }  
        }
  
       .our-advantages__icon {
       height: 70px;
       width: 70px;
       background-color:#F5F4FA;
      }

         .our-advantages__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            color: $color-brend-text;
            margin-bottom: 10px;
              @media screen and (max-width: 767px) {
                    text-align: center;
            }
              @media screen and (min-width: 768px) {
                       text-align: left;
            }
          }

          .our-advantages__list {
                @media screen and (min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                  }
                  
                  @media screen and (min-width: 1200px) {
                    gap: 30px;
                  }
                }

            .our-advantages__column {
                  // display: block;
                  max-width: 450px;
                  width: 100%;
                  height: 226px;
                      // margin-right: auto;
                      // margin-left: auto;
                  margin-bottom: 30px;
                     
              @media screen and (min-width: 768px) {
                width: calc((100% - 60px) / 2);
              }

              @media screen and (min-width: 1200px) {
                width: calc((100% - 90px) / 4);
            }
          }

      .our-advantages__column:last-child {
        margin-bottom: 0px;   
      }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            .our-advantages__column:nth-child(3),
            .our-advantages__column:nth-child(4) {
            margin-bottom: 0px;
          }
         }
       
       .our-advantages__text {
            line-height: 1.71;
            color: #757575;
            margin: 0px;
            padding: 0px;
            text-align: left;
        }




